#main-menu #extension-seashell-menu-item {
  background-image: url('../images/menu-icon.svg');
}


.extension-seashell-flex-between{
	display:flex;
	justify-content:space-between;
}

.extension-seashell-flex{
	display:flex;
	align-items:center;
}


.extension-seashell-hidden{
	display:none!important;
}

#extension-seashell-command{
	width:100%;
	min-width: 20rem;
	padding:1rem;
	font-size:2rem;
	box-sizing:border-box;
	height:auto;
}


#extension-seashell-view {
    height: 100%; /*calc(100% - 7.6rem);*/
    box-sizing: border-box;
    /*position: relative;
    top: 7.6rem;
	*/
}
#extension-seashell-view *{
	box-sizing: border-box;
}


#extension-seashell-content {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: auto;
	position: relative;
	text-align: left;
	font-size: 1.6rem;
	color: #fff;
	margin: 0 auto;
	height:100vh; 
}

#extension-seashell-content-container{
	height:100%;
	max-height: 100vh;
	width:100%;
	display:flex;
	flex-direction:column;
}


#extension-seashell-content label{
	min-width: 100px;
	display: inline-block;
}

#extension-seashell-content input:invalid{
	/*border:2px solid red;*/
}

#extension-seashell-content-header{
	padding:2rem 2rem 0 2rem;
}

#extension-seashell-view h2{
	margin-left:10rem;
}


@media screen and (min-width: 1024px) {
	#extension-seashell-view{
		left:6rem;
		top: 0;
		height:100vh; 
		position:absolute;
	}
	
	#extension-seashell-content-container{
		height:auto;
		width:80%;
		max-width:100rem;
	}
}

body:not(.kiosk) .extension-seashell-show-if-kiosk{
	display:none;
}

.extension-seashell-button,
.extension-seashell-big-button{
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem .5rem;
  cursor:pointer;
}

.extension-seashell-big-button{
	font-size:2rem;
	padding:1rem;
}

#extension-seashell-history-button{
	margin-left:0;
	margin-right:.5rem;
}

#extension-seashell-run-button{
	padding:1rem 2rem;
}


#extension-seashell-restart-button{
	opacity:.6;
	margin-bottom: auto;
}

#extension-seashell-run-button:hover,
#extension-seashell-restart-button:hover{
	background-color: LightGreen;
}


.extension-seashell-checkbox-container{
	text-align:left;
	width:100px;
	display: inline-block;
	margin-top:1rem;
}

#extension-seashell-content .control-label{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top:1rem;
}


#extension-seashell-content .field-description{
	margin-top: .5rem;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	padding-left: 100px;
}




#extension-seashell-recent-commands{
	position:absolute;
	background-color:black;
	padding:1rem;
	border-radius:1rem;
	max-width:80%;
}

#extension-seashell-recent-commands:not(:empty){
	margin-bottom:2rem;
}
#extension-seashell-recent-commands:not(:empty)::before{
	content:'Recent commands:';
	font-size:1.6rem;
	display:block;
	margin-bottom:1rem;
	margin-top:2rem;
	margin-left:.5rem;
	opacity:.7;
}

#extension-seashell-recent-commands > div{
	background-color:rgba(255,255,255,.1);
	border-radius:.5rem;
	margin-top:1rem;
	opacity:.8;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
#extension-seashell-recent-commands > div:hover{
	opacity:1;
}

.extension-seashell-recent-command-item > div{
	cursor:pointer;
}
.extension-seashell-recent-command-item-text{
	flex-grow:1;
	padding:0.7rem 0.5rem 0.7rem 1.5rem;
	overflow:hidden;
}
.extension-seashell-recent-command-item-run-button{
	margin-left:1rem;
	background-color:rgba(255,255,255,.2);
	padding:.5rem;
	border-radius:.5rem;
	flex-shrink:0;
	
}

.extension-seashell-recent-command-item-text:hover,
.extension-seashell-recent-command-item-run-button:hover{
	background-color:rgba(255,255,255,.35);
}




body:not(.developer) #extension-seashell-response{
	display:none;
}


#extension-seashell-messages-container{
	padding:1rem;
	margin:0 auto 2rem auto;
	background-color:rgba(0,0,0,.1);
	border-radius:1rem;
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
	gap: .5rem;
	height:30%;
	min-height:30%;
	flex-grow:1;
	width: calc(100% - 4rem);
	font-family: monospace, monospace;
}

.extension-seashell-message{
	padding:.3rem 1rem;
	white-space:pre-wrap;
}


.extension-seashell-message-stdin{
	color:#00ffff;
}

.extension-seashell-message-stderr{
	color:red;
}
